/*
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/


body {
  background-color: #F2F1E8;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Merriweather', serif;
  line-height: 2;
  /*padding-left: 80px;
  padding-right: 80px;*/
}

header {
  position: fixed;
  background-color: white;
  width: 100%;
  padding-right: 20px;
  z-index: 3;
  box-shadow: 1px 1px 10px;

  /*margin-bottom: 20px;*/

}

.nav_bar {
  background-color: #FFFFFF;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*width: 100%;*/
}

#logo {
  position: absolute;
  /*padding: 20px;*/
  /*background-image: url("./images/optimized/bent-creek-logo.png");*/
  align-self: center;
  background-size: contain;
  width: 30px;
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-left: 15px;

}


.main_navigation {
  /*position: auto;*/
  display: flex;
  width: auto;
  justify-content: center;
  /*width: 100%;*/
  font-family: 'Roboto', sans-serif;
  list-style: none;
  /*margin-left: 20px;
  margin-right: 20px;*/
  text-transform: uppercase;
  padding-right: 30px;
  /*padding-left: 80px;
  padding-right: 80px;*/
}

/*.nav_item {
  font-family: 'Roboto', sans-serif;
  position: auto;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}*/

a {
  color: #2B2F26;
  padding-left: 20px;
}

a:hover {
  color: #CD5D67;
}

a:active {
  color: #968772;
}

.page_header {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 30pt;
  font-weight: normal;
  display: flex;
  justify-content: center;
}

#link {
  padding: 5px;
  color: #968772;
}

.section1 {
  width: auto;
  display: flex;
  align-self: center;
  width: 70%;
  /*margin-left: 125px;
  margin-right: 125px;*/
}

#birdhouse {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

blockquote {
  align-self: center;
  font-style: italic;
  font-weight: lighter;
  border-left: 2px solid #968772;
  padding-left: 15px;
  width: 65%;
}

.section2 {
  /*margin-left: 125px;
  margin-right: 125px;*/
  width: 70%;
  margin-bottom: 30px;
  align-self: center;
}

h2 {
  font-weight: lighter;
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}

.page_break {
  background-image: url("./images/optimized/background-3.jpg");
  padding: 80px;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background-attachment: fixed;
}

#grow {
  font-weight: normal;
}

#page_bottom {
  display: flex;
  /*margin-right: 125px;
  margin-left: 125px;*/
  width: 70%;
  align-self: center;
}

.section3 {
  display: flex;
  flex-direction: column;
  /*padding-left: 30px;
  padding-right: 30px;*/
}

.facilities {
  padding-right: 10px;
}

#vases {
  height: 100px;
  width: 100px;
}

aside {
  padding-top: 70px;
  font-weight: lighter;
  line-height: normal;
}

.plans {
  padding-top: 30px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: auto;
  margin-bottom: 50px;
  width: 100%;
}

thead {
  text-align: center;
}

td {
  border: 1px solid black;
  padding: 20px;
  margin-right: 20px;
}

.even_row {
  background-color: #FEF3E1;
}

footer {
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 20px;
}

#copyright {
  font-weight: lighter;

}
